{% extends 'base.html' %}
{% load staticfiles %}

{% block additional_css %}
<link href="{%static 'general/css/catalog.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="#">Library</a></li>
                  <li class="active">Catalog</li>
                  </ol>
            </div>
        </div>
        <div class="row item">
            <div class="col-lg-3 filter">
                <form action="">
                    <div class="checkbox">
                        <label>
                              <input type="checkbox"> Lorem ipsum dolor sit amet, consectetur 
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                              <input type="checkbox"> Check me out
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                              <input type="checkbox"> Lorem ipsum dolor sit amet, consectetur 
                        </label>
                    </div>
                </form>
            </div>
            <div class="col-lg-7 good-content">
                <div class="row">
                    <div class="col-lg-5">
                        <a href=""><img src="{% static 'general/img/goods/bed.JPG' %}" width="270" alt=""></a>
                    </div>
                    <div class="col-lg-7">
                        <div class="text">
                            <h3>название товара</h3>
                            <h4>Lorem ipsum dolor sit amet, consectetur </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor                               </p>
                            <h4>Lorem ipsum dolor sit amet, consectetur </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor                               </p>
                            <h4>Lorem ipsum dolor sit amet, consectetur </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor                               </p>
                            <h4>Lorem ipsum dolor sit amet, consectetur... </h4>
                            
                        </div>
                        <a class="more" href="">подробнее...</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 buy-good">
               <div class="price">
                    <h4>4000<span class="glyphicon glyphicon-rub"></h4>
                    <h3>3000<span class="glyphicon glyphicon-rub"></h3>
               </div> 
               <div class="delivery">
                   <p>Самовывоз: сегодня</p>
                   <p>Доставка: 2-3 дня</p>
               </div> 
               <div class="in-basket">
                   <a href="">в корзину</a>
               </div>  
            </div>
        </div> 
         <div class="row item">
            <div class="col-lg-3 filter">
            </div>
            <div class="col-lg-7 good-content">
                <div class="row">
                    <div class="col-lg-5">
                        <a href=""><img src="{% static 'general/img/goods/lamp.JPG' %}" width="270" alt=""></a>
                    </div>
                    <div class="col-lg-7">
                        <div class="text">
                            <h3>название товара</h3>
                            <h4>Lorem ipsum dolor sit amet, consectetur </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor                               </p>
                            <h4>Lorem ipsum dolor sit amet, consectetur </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor                               </p>
                            <h4>Lorem ipsum dolor sit amet, consectetur </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor                               </p>
                            <h4>Lorem ipsum dolor sit amet, consectetur... </h4>
                            
                        </div>
                        <a class="more" href="">подробнее...</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 buy-good">
               <div class="price">
                    <h4>4000<span class="glyphicon glyphicon-rub"></h4>
                    <h3>3000<span class="glyphicon glyphicon-rub"></h3>
               </div> 
               <div class="delivery">
                   <p>Самовывоз: сегодня</p>
                   <p>Доставка: 2-3 дня</p>
               </div> 
               <div class="in-basket">
                   <a href="">в корзину</a>
               </div>  
            </div>
        </div> 
           <div class="row item">
            <div class="col-lg-3 filter">
            </div>
            <div class="col-lg-7 good-content">
                <div class="row">
                    <div class="col-lg-5">
                        <a href=""><img src="{% static 'general/img/goods/bed.JPG' %}" width="270" alt=""></a>
                    </div>
                    <div class="col-lg-7">
                        <div class="text">
                            <h3>название товара</h3>
                            <h4>Lorem ipsum dolor sit amet, consectetur </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor                               </p>
                            <h4>Lorem ipsum dolor sit amet, consectetur </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor                               </p>
                            <h4>Lorem ipsum dolor sit amet, consectetur </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor                               </p>
                            <h4>Lorem ipsum dolor sit amet, consectetur... </h4>
                            
                        </div>
                        <a class="more" href="">подробнее...</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 buy-good">
               <div class="price">
                    <h4>4000<span class="glyphicon glyphicon-rub"></h4>
                    <h3>3000<span class="glyphicon glyphicon-rub"></h3>
               </div> 
               <div class="delivery">
                   <p>Самовывоз: сегодня</p>
                   <p>Доставка: 2-3 дня</p>
               </div> 
               <div class="in-basket">
                   <a href="">в корзину</a>
               </div>  
            </div>
        </div> 
        
    </div>
    
{% endblock %}