{% extends 'base.html' %}
{% load staticfiles %} 


{% block additional_css %}
   <link rel="stylesheet" href="{% static "general/css/good.css"%}">
{% endblock %} 

{% block content %}
<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="#">Library</a></li>
                  <li class="active">Data</li>
                  </ol>
            </div>
        </div> 
        </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 good">
                <div class="col-lg-8 image">
                    <h3>поэнг</h3>
                    <!--    СЛАЙДЕР    -->

                     <div id="carousel" class="carousel slide">
                           <ol class="carousel-indicators">
                               <li class="active" data-target='#carousel' data-slide-to='0'></li>
                               <li data-target='#carousel' data-slide-to='1'></li>
                               <li data-target='#carousel' data-slide-to='2'></li>
                           </ol>
       
<!--                       Контент слайдера    -->
                           <div class="carousel-inner">
                                <div class="item active">
                                    <img src="{% static 'general/img/black_armchair.png' %}" width="470" alt="">
                                </div>
                                <div class="item">
                                    <img src="{% static 'general/img/black_armchair.png' %}" width="470" alt="">
                                </div>
                                <div class="item">
                                    <img src="{% static 'general/img/black_armchair.png' %}" width="470" alt="">
                                </div>
                           </div>
                                               <a href="#carousel" class="left carousel-control" data-slide='prev'>
                               <span class="glyphicon glyphicon-chevron-left"></span>
                           </a> 
                           <a href="#carousel" class="right carousel-control" data-slide='next'>
                               <span class="glyphicon glyphicon-chevron-right"></span>
                           </a>
                     </div>
                </div>
                <div class="col-lg-4 content">
                        <div class="price-wrap">
                            <div class="price">
                                <h6>4000<span class="glyphicon glyphicon-rub"></span></h6>
                                <h2>3000<span class="glyphicon glyphicon-rub"></span></h2>
                            </div>
                            <div class="basket">
                                <a href=""><img src="{%static 'general/img/backet.png'%}" alt="корзина"></a>
                            </div>
                        </div>
                        <div class="delivery">
                            <div class="courier">
                                <a href=""><p>доставка</p></a>
                            </div>
                            <div class="yourself">
                                <a href=""><p>самовывоз</p></a>
                            </div>    
                        </div>
                        <div class="fast-buy">
                                <a href="">Быстрый заказ</a>
                        </div>
                        <div class="accessories">
                                <a href="">подобрать аксессуары</a>
                        </div>
                        <a href="" data-toggle="tooltip" title="Вы можете спросить консультанта об этом товаре прямо сейчас">
                            <img src="{%static 'general/img/consult.png'%}" alt="">
                        </a>
                </div>
            </div>
        </div>
    </div>
    
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-1" data-toggle="tab">Храктеристика</a></li>
                    <li><a href="#tab-2" data-toggle="tab">Отзывы</a></li>
                    <li><a href="#tab-3" data-toggle="tab">Обзор</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab-1">
                       <h6>Dolore magna aliqua</h6>
                        <table class="table table-striped">
                            <tr>
                                <td>Lorem ipsum dolor sit amet</td>
                                <td>dolore magna aliqua</td>
                                <td><a href="">Другие товары</a></td>
                            </tr>
                        </table>
                        <h6>Dolore magna aliqua</h6>
                        <table class="table table-striped">
                            <tr>
                                <td>Lorem ipsum dolor sit amet</td>
                                <td>dolore magna aliqua</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Lorem ipsum dolor sit amet</td>
                                <td>dolore magna aliqua</td>
                                <td><a href="">Другие товары</a></td>
                            </tr>
                            <tr>
                                <td>Lorem ipsum dolor sit amet</td>
                                <td>dolore magna aliqua</td>
                                <td></td>
                            </tr>
                        </table>  
                        <h6>Dolore magna aliqua</h6>
                        <table class="table table-striped">
                            <tr>
                                <td>Lorem ipsum dolor sit amet</td>
                                <td>dolore magna aliqua</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Lorem ipsum dolor sit amet</td>
                                <td>dolore magna aliqua</td>
                                <td><a href="">Другие товары</a></td>
                            </tr>
                        </table>   
                    </div>
                    <div class="tab-pane fade" id="tab-2">
                         <table class="table table-hover">
                            <tr>
                                <td>
                                   <h6>Иван Иванов</h6>
                                   <p>Москва</p> 
                                </td>
                                <td class="review">
                                    <div class="star">
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod                                          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim                                            veniam, quis nostrud exercitation ullamco laboris</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   <h6>Иван Иванов</h6>
                                   <p>Москва</p> 
                                </td>
                                <td class="review">
                                    <div class="star">
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod                                          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim                                            veniam, quis nostrud exercitation ullamco laboris</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   <h6>Иван Иванов</h6>
                                   <p>Москва</p> 
                                </td>
                                <td class="review">
                                    <div class="star">
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod                                          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim                                            veniam, quis nostrud exercitation ullamco laboris</p>
                                </td>
                            </tr>
                        </table>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-1">Оставить комментарий</button>
                    </div>
                    
                    <div class="tab-pane fade" id="tab-3">
                       <iframe width="853" height="480" src="https://www.youtube.com/embed/mOtI-gv1E1Y" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h3 class="recent-seen">Недавно просмотренные</h3>
    </div>
    <div class="row">
        <div class="col-lg-3 recent">
            <a href="">
                <h4>Название</h4>
                <p>мебель</p>
                <img src="{% static 'general/img/goods/black_lamp.png'%}" width="250" alt="">
            </a>
        </div>
        <div class="col-lg-3 recent">
            <a href="">
                <h4>Название</h4>
                <p>мебель</p>
                <img src="{% static 'general/img/goods/vallentuna-mestnyj-divan-seryj__0470352_PE612714_S5.png'%}" width="250" alt="">
            </a>    
        </div>
        <div class="col-lg-3 recent">
           <a href="">
                <h4>Название</h4>
                <p>мебель</p>
                <img src="{% static 'general/img/goods/black_lamp.png'%}" width="250" alt="">
            </a>    
        </div>
        <div class="col-lg-3 recent">
            <a href="">
                <h4>Название</h4>
                <p>мебель</p>
                <img src="{% static 'general/img/goods/vallentuna-mestnyj-divan-seryj__0470352_PE612714_S5.png'%}"  width="250" alt="">
            </a>    
        </div>
    </div>
    <div class="row">
        <h3 class="recent-seen">Похожие товары</h3>
    </div>
    <div class="row">
        <div class="col-lg-3 same">
            <a href="">
                <h4>Название</h4>
                <p>мебель</p>
                <img src="{% static 'general/img/goods/black_lamp.png'%}" width="250" alt="">
            </a>
        </div>
        <div class="col-lg-3 same">
            <a href="">
                <h4>Название</h4>
                <p>мебель</p>
                <img src="{% static 'general/img/goods/vallentuna-mestnyj-divan-seryj__0470352_PE612714_S5.png'%}" width="250" alt="">
            </a>    
        </div>
        <div class="col-lg-3 same">
           <a href="">
                <h4>Название</h4>
                <p>мебель</p>
                <img src="{% static 'general/img/goods/black_lamp.png'%}" width="250" alt="">
            </a>    
        </div>
        <div class="col-lg-3 same">
            <a href="">
                <h4>Название</h4>
                <p>мебель</p>
                <img src="{% static 'general/img/goods/vallentuna-mestnyj-divan-seryj__0470352_PE612714_S5.png'%}"  width="250" alt="">
            </a>    
        </div>
    </div>
    <div class="row ask">
       <a href="">
        <div class="col-lg-8">
            <h1>не знаешь, что выбрать?</h1>
            <h4>Cпроси у специалиста</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut                     labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
        </div>
        </a>
    </div>
</div>
<!--Модальное окно для отправки отзыва-->
<div class="modal" id="modal-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                               <form action="">
                                <div class="modal-header">
                                    <button class="close" type="button" data-dismiss="modal">
                                        &times;
                                    </button>
                                    <h4 class="modal-title">Оставить комментарий</h4>
                                </div>
                                <div class="modal-body">
                                    
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Имя</label>
                                                <input class="form-control" id="exampleInputEmail1"                                                     placeholder="Ваше имя">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Город</label>
                                            <input class="form-control"                                                                         id="exampleInputPassword1" placeholder="Ваш город">
                                        </div>
                                        
<!--                 Оценки                       -->
                                    <div id="reviewStars-input">
                                        <input id="star-4" type="radio" name="reviewStars"/>
                                        <label title="gorgeous" for="star-4"></label>

                                        <input id="star-3" type="radio" name="reviewStars"/>
                                        <label title="good" for="star-3"></label>

                                        <input id="star-2" type="radio" name="reviewStars"/>
                                        <label title="regular" for="star-2"></label>

                                        <input id="star-1" type="radio" name="reviewStars"/>
                                        <label title="poor" for="star-1"></label>

                                        <input id="star-0" type="radio" name="reviewStars"/>
                                        <label title="bad" for="star-0"></label>
                                    </div>
<!--          конец оценок                  -->
                                      
                                        <textarea class="form-control" id="text-review"                                                                    placeholder="Ваш комментарий" rows="3"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-danger" type="button"                                                                         data-dismiss="modal">Отмена</button>
                                    <button type="submit" class="btn btn-success">Отправить</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
<script>
    $(function(){
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
{% endblock  %}
