{% extends 'login_base.html' %}
{% load staticfiles %}
{% block additional_css%}
	<link rel="stylesheet" type="text/css" href=" {% static "general/css/login.css" %} ">
{% endblock %}
{% block content %}
<div class='container' >
	<div class='row'>
		<div class='col-md-4'></div>
		<div class='col-md-4'>
		<form  class = 'form-signin' role='form' action='' method='POST'> 
    		{% csrf_token %}
            <label for='email'>Email:</label>
            {{form.email}}
    		<input class='btn btn-block btn-primary btn-lg' type="submit" value="Отправить" name='review'/>
		</form>
		</div>
		<div class='col-md-4'></div>
	</div>
</div>
{%endblock%}